In [2]:
import pandas as pd
import numpy as np
 
#Create a DataFrame
d = {
    'countries':['A','B','C'],
    'population_in_million':[100,200,120],
    'gdp_percapita':[2000,7000,15000]
    }
 
df = pd.DataFrame(d,columns=['countries','population_in_million','gdp_percapita'])
df

  countries  population_in_million  gdp_percapita
0         A                    100           2000
1         B                    200           7000
2         C                    120          15000

In [3]:
 
df2=pd.melt(df,id_vars=['countries'],var_name='metrics', value_name='values')
df2

  countries                metrics  values
0         A  population_in_million     100
1         B  population_in_million     200
2         C  population_in_million     120
3         A          gdp_percapita    2000
4         B          gdp_percapita    7000
5         C          gdp_percapita   15000